@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

body{
	position: relative;
	min-height: 100vh;
	min-width: 100vh;
	max-width: fit-content;
	background-color: #242424;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

nav{
	text-align: center;
	border: none;
	font-size: 16px;
	float: right;
}

a{
	text-decoration: none;
	color: white;
}

nav a{
	font-size: 20px;
}

.Nbutton{
	padding-right: 20px;
	padding-left: 20px;
	display: inline-block;
	border-right: 1px solid white;
}

.Nbutton:last-child{
	border-right:none;
}


.content{
	position: relative;
	overflow: hidden;
	padding: 3px;
	float: left;
	color: white;
	width: 100%;
}

.title{
	position: relative;
	overflow: hidden;
	font-size: 50px;
	font-weight: 900;
}

.button{
	padding: 10px;
	border: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
	border: 2px solid white;
}

#arc{
	padding: 10px;
	font-weight: normal;
	float: right;
	font-size: 50px;
}

#line{
	border-bottom: 2px solid white;
	padding-bottom: 70px;
}

footer{
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}

@media screen and (max-width: 800px){
    
}